body{
  border: 5px solid red;
  font-family: Arial;
  font-style: italic;
  font-size: 17px;
}

h1{
  color: red;
  text-align: center;
  text-transform: uppercase;
}

a{
  color: green;
  text-decoration-line: green;
  font-weight: bold;
}
.p2{
  text-decoration: underline dotted green;
}

img{
  width: 500px;
  height: 500px;
  float: left;

}
.out{
  margin: 20px;
}
