/* .Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  flex-flow: row wrap;
}
.box{
  border: 1px solid blue;
  padding: 10px;
  flex-basis: 60%;
  flex-grow:0;
  flex-shrink: 0;
} */

.flexcontainer{
  background-color: orange;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item{
  width: 50px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}
