.gridcontainer{
  border: 2px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px 300px; */
  grid-template: 100px 200px 300px / repeat(3, 1fr);
  /* grid-gap: 10px; */
}
.box{
  background-color: pink;
  border: 2px solid blue;
}
.box7{
  order: -1;
}

.box1{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

 /* grid-row: row-start value / row-end value
 grid-column: column-start value / column-end value */

.box2{
  grid-row: 3/4;
  grid-column: 2/3;
}

/* grid-area: row-start value / column-start value / row-end value / column-end value */

.box9{
  grid-area: 2/3/1/2
}

.box3{
  grid-area: 2/1/3/3
}
