body{
    background: rgb(255, 255, 255);
    color: rgb(2, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 400;
    /* width: 50%; */
    /* max-width: 750px;
    display: inline; */
    
}

/* header{

}

nav{

}

section{

}

article{

}

footer{

} */

h2{
    border-top: 3px double rgb(133, 5, 133);
    border-bottom: 3px solid rgb(0, 128, 53);
    /* border: 3px double purple; */
    margin: 10px 20px 15px 30px;
    /* margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 30px; */
    padding: 10px 10px 20px 15px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 15px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 800;
    /* display: none; */
    position: static;
    /* left: 20px;
    top: 200px; */
    /* right: 200px; */
}

.imgone{
    /* height: 100px; */
    /* width: 200px; */
    max-width: 50%;
}

span{
    display: block;
}

.header1{
    z-index: 2;
}

.header2{
    z-index: 1;
}

.of1{
    overflow: scroll;
    height: 60px;
}
