h1{
  background: #93BFCF;
  border: 2px dashed blue;
}

body{
  background: url(https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
