.red{
  height: 100px;
  width: 100px;
  background-color: red;
  position: static;
  right: 30px;
  bottom: 20px;
}

.blue{
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
  right: 30px;
  bottom: 20px;
}

.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  /* right: 100px */
  right: 300px;
  bottom: 200px;

}

.green{
  height: 100px;
  width: 100px;
  background-color: green;
  position: fixed;
  right: 300px;
  bottom: 200px;
}

p{
  color: rgb(255, 0, 76);
}