.flexContainer{
  border: 3px double blue;
  display: flex;
}

/* .box1{
  width: 200px;
  height: 200px;
  background-color: cyan;
  order: 3;
  flex-grow: 1;
}

.box2{
  width: 200px;
  height: 200px;
  background-color: pink;
  order: 2;
  flex-grow: 1;
}

.box3{
  width: 200px;
  height: 200px;
  background-color: yellow;
  order: 1;
  flex-grow: 2;
  flex-shrink: 0;
} */

.box1{
  background-color: red;
  margin: 13px;
  /* flex-basis: 70%;
  flex-shrink: 2; */
  flex: 0 1 auto;
}

.box2{
  background-color: pink;
  margin: 13px;
  flex-shrink: 1;
  flex-basis: 20%;
}

.box3{
  background-color: green;
  margin: 13px;
  flex-shrink: 1;
  flex-basis: 100%;
}
