.gridcontainer{
  border: 2px solid blue;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px 300px; */
  grid-template: 100px 200px 300px 100px / repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-areas: "A B B"
                       "A E F"
                       "G H I"
                       "C C D"
}
.box{
  background-color: pink;
  border: 2px solid blue;
}
.box1{
  grid-area: A;
}
.box2{
  grid-area: B;
}
.box3{
  grid-area: C;
}
.box4{
  grid-area: D;
}
.box5{
  grid-area: E;
}
.box6{
  grid-area: F;
}
.box7{
  grid-area: G;
}
.box8{
  grid-area: H;
}
.box9{
  grid-area: I;
}
