body{
    color: #05baf1;
     background: pink;
     font-family: 'Playfair Display', serif;
}

@media screen and (max-width:1004px) {
    body{
        color: #f3f3f3;
        background: rgb(12, 1, 3);
        font-family: arial, serif;
    }
}